#Splash-txt h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

#Splash-txt h2 {
    font-size: 45;
    color: white;
}

#Splash-txt {
    line-height: 0.5;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
    
}

#Home-splash {
    width: 100%;
    height: 400px;
    background: url(IMAGES/splash.jpg);
    background-size: 100% 500px;
}