body {
    padding-top: 1px;
    font-size: 12px;
    background: url(IMAGES/splash.jpg);
  }


.menu
{
background-color: rgb(0, 136, 122);
border-bottom: 4px solid rgb(1, 83, 10);
width:100%;
height: auto;
padding: 0 10px;
position: fixed;
margin: 0px;
z-index: 1;
opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
background-color : rgb(4, 163, 237);
color: rgb(4, 163, 237);
font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
font-size: 13px;
color: white;
padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
background-color: rgb(4, 163, 237);
}

.navbar-header > a
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 25px;
padding: 5px 30px;
}

.navbar-header > a:hover
{
text-decoration: none;
color: rgb(4, 163, 237);
}

#contain-box{
    width: 100%;
    height: 700px;
}

#main-box {
    margin-top: 70px;
    height: 100%;

}

.row {
    height: 100%;
}

#PDF {
    margin-left: -30px;
    height: 100%;
    width: 50%;
    float: left;
}

#user {
    overflow: hidden;
    padding-left: 35px;
    
}

.view {
    height: 90%;
    width: 100%;
}

#Img-pos {
    
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

#txt {
    text-align: center;
}

.img-circle {
    width: 100px;
    height: 100px;
    
}

#txt > p {
    font-size: 16px
}

#txtcon{
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 185px
}


#txtbox{
    width: 100%;
    height: 110px;
}

#commentcenter{
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}


